//bases
@import "foundation/_variables";
@import "foundation/_colors";
@import "foundation/_fonts";
@import "foundation/_animation";
@import "foundation/_functions";
@import "foundation/_mixins";
@import "foundation/_reset";
@import "foundation/_base";

.test {
  .hoge {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, auto);
  }
}