doctype html
html
  include _includes/header.pug
  body
    h1 My Site
    p Welcome to my super lame site.
    include _includes/footer.pug
    h2._heading_d94d0 やってること
      span._heading-sub_d94d0 主な活動内容